
<div class="col-md-12">
  <h2>群组一览表</h2>

  <div class="group" >
    <%= link_to("new group", new_group_path, class: "btn btn-default pull-right", style: "margin-bottom: 20px;") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>title</th>
        <th>description</th>
        <th>creator</th>
        <th colspan="2">option</th>
      </tr>
    </thead>

    <tbody>
      <%= render :partial => "group_item", collection: @groups, as: :group %>

    </tbody>
  </table>
</div>
